<div class="card post">
    <div class="card-header">
        <h4>{{title}}</h4>
        <span class="d-flex justify-content-end">{{user.username}}</span>
        <span class="d-flex justify-content-end">{{format_date created_at}}</span>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{post_content}}</p>
            <footer class="justify-content-start">
                <div>
                    <button type="button" class="thumbs-up"><i class="bi bi-hand-thumbs-up"></i></button>
                    <span>{{thumbsUp_count}}</span>
                    <span><button type="button" class="thumbs-down"><i class="bi bi-hand-thumbs-down"></i></button></span>
                    <span>{{thumbsDown_count}}</span>
                    <span><a href="/post/{{id}}"><i class="bi bi-chat-left comment-link"></i> {{comments.length}} {{format_plural "comment" comments.length}}{{" "}}</a></span>
                </div>
            </footer
        </blockquote>
    </div>
</div>